body{
  background: red;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  padding: 30px;
}

table, th, td {
  border: 1px solid black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
